.HomeButton-wrapper {
  background-color: #4A4A4A;
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.HomeButton-text {
  color: #ffffff;
  font-weight: 300;
  margin-left: 8px;
}ya



@media only screen and (min-width: 768px) {
  .HomeButton-wrapper {
  }
}

@media only screen and (min-width: 1200px) {

}
