.AppDownloadCard {
  height: 178px;
  flex: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 1pc;
  background-color: #FAFAFA;
  justify-content: center;
  align-items: center;
}

.AppDownloadCard-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5pc;
}

.AppDownloadCard-links img {
  margin: 0 0.5pc 0.5pc 0.5pc;
}

.AppDownloadCard-title {
  font-size: 18px;
  font-weight: 300;
}

.dashed-gradient {
  background-image: linear-gradient(to right, #9B9B9B 50%, transparent 50%), linear-gradient(to right, #9B9B9B 50%, transparent 50%), linear-gradient(to bottom, #9B9B9B 50%, transparent 50%), linear-gradient(to bottom, #9B9B9B 50%, transparent 50%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 20px 1px, 20px 1px, 1px 20px, 1px 20px;
}
