.ResortInfoCard {
  flex: 1;
  border: 1px solid #EDEDED;
}

.ResortInfoBox {
  height: calc(160px - 14px);
  width: calc(100% - 14px);
  border: 1px solid #EDEDED;
  background-color: #fff;
  padding: 6px;
}

.ResortInfoHeader-header {
  flex: 1;
  margin: 5px;
  display: flex;
  min-height: 120px;
}

.ResortInfoHeader-branding {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.ResortInfoHeader-header-title {
  font-size: 30px;
  font-weight: 500;
  padding: 0;
}

.ResortInfoHeader-header-subtitle {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.ResortInfoHeader-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.ResortInfoHeader-status {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.ResortInfoHeader-status h3  {
  font-size: 24px;
  font-weight: 300;
}

.ResortInfoHeader-logo {
  margin: 0.5pc;
}

.ResortInfoHeader-logo img {
  width: 64px;
}

.ResortInfoBody-title {
  font-size: 24px;
}

.ResortInfoBody-content {
  font-weight: 300;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 1pc;
}

.ResortInfoBody-content-openroutes {
  display: flex;
  flex-direction: row;
}

.ResortInfoBox-content-openroute-icon {
  margin-right: 1pc;
  margin-top: 1pc;
}

.ResortInfoBody-content-chains {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ResortInfoBody-content-chains-row {
  margin-top: 1pc;
  display: flex;
  flex-direction: row;
  min-height: 36px;
}

.ResortInfoBody-content-chains-text {
  padding-right: 1pc;
  font-size: 24px;
  font-weight: 300;
}

/*
@custom-media --sm-viewport only screen and (min-width: 48em); // 768px
@custom-media --md-viewport only screen and (min-width: 64em); // 1024px
@custom-media --lg-viewport only screen and (min-width: 75em); / 1200px
*/
@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1200px) {

  .ResortInfoBox {
    height: 150px;
    border: none;
  }

  .ResortInfoHeader-header {
    background-color: #FAFAFA;
  }

  .ResortInfoHeader-header-title {
    font-size: 36px;
  }

  .ResortInfoHeader-header-subtitle {
    font-size: 24px;
  }

  .ResortInfoBody-title {
    font-size: 24px;
  }

  .ResortInfoBody-content {
  }
  .ResortInfoBody-content-chains-text{
    font-size: 24px;
  }

  .ResortInfoHeader-condition {
    min-height: 60px; /* header height / 2 */
  }

  .ResortInfoHeader-status {
    min-height: 60px; /* header height / 2 */
  }

  .ResortInfoHeader-logo {
    margin: 1pc;
  }
}
