.ResortInfoBox {
  height: 160px;
  width: 100%;
  border: 1px solid #EDEDED;
  background-color: #FFFFFF;
  padding: 1pc;
  box-sizing: border-box;

}
.ResortInfoBody-content-chains {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ResortInfoBody-content-chains-row {
  margin-top: 1pc;
  display: flex;
  flex-direction: row;
  min-height: 36px;
}

.ResortInfoBody-content-chains-text {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  outline-offset: 0;
  /* Additional styles to look like a link */
  cursor: pointer;
  text-decoration: underline;
  -webkit-appearance: none;
  padding-right: 1pc;
  font: inherit;
  font-size: 24px;
  font-weight: 300;
  height: 100%;
}

.ResortInfoBody-title {
  font-size: 24px;
}

@media only screen and (min-width: 1200px) {
  .ResortInfoBox {
    border: none;
    padding: 0.5pc;
  }
  .ResortInfoBody-content-chains-text{
    font-size: 24px;
  }
  .ResortInfoBody-title {
    font-size: 24px;
  }
}
