.ResortInfoBox {
  height: 160px;
  width: 100%;
  border: 1px solid #EDEDED;
  background-color: #FFFFFF;
  padding: 1pc;
  box-sizing: border-box;
}
.ResortInfoBody-title {
  font-size: 24px;
}

.ResortInfoBody-content {
  font-weight: 300;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 1pc;
}
.ResortInfoBody-content-openroutes {
  display: flex;
  flex-direction: row;
}

.ResortInfoBox-content-openroute-icon {
  margin-right: 1pc;
  margin-top: 1pc;
}

.RoadTooltip-content {
  font-weight: 300;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 1pc;
}
.RoadTooltip-labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1pc;
}
.RoadTooltip-label:last-child {
  margin-right: 0;
}
.RoadTooltip-label {
  border: 1px solid #4A4A4A;
  border-radius: 1px;
  display: inline;
  padding: 5px;
  margin-right: 6px;
  margin-bottom: 6px;
  text-align: center;
}
.RoadTooltip-text {
  font-size: 16px;
  font-weight: 300;
}
.RoadTooltip-title {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  outline-offset: 0;
  /* Additional styles to look like a link */
  cursor: pointer;
  text-decoration: underline;
  -webkit-appearance: none;
  font: inherit;
  font-size: 24px;
  color: #4A4A4A;
}

@media only screen and (min-width: 1200px) {

  .ResortInfoBox {
    border: none;
    padding: 0.5pc;
  }
  .ResortInfoBody-title {
    font-size: 24px;
  }
  .ResortInfoBody-content {
  }
}
