.ResortInfoBox {
  min-height: 160px;
  height: 100%;
  width: 100%;
  border: 1px solid #EDEDED;
  background-color: #FFFFFF;
  padding: 1pc;
  box-sizing: border-box;
  z-index: 100;
}
.ResortInfoBody-title {
  font-size: 24px;
}

.ResortInfoBody-content {
  font-weight: 300;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 1pc;
}
@media only screen and (min-width: 1200px) {

  .ResortInfoBox {
    border: none;
    padding: 0.5pc;
  }
  .ResortInfoBody-title {
    font-size: 24px;
  }
  .ResortInfoBody-content {
  }
}
