.SideNav-wrapper {
  width: 366px;
  overflow-y: scroll;
  flex: 1;
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

.SideNav-hideOnMobile {
  display: none;
}

/*
@custom-media --sm-viewport only screen and (min-width: 48em); // 768px
@custom-media --md-viewport only screen and (min-width: 64em); // 1024px
@custom-media --lg-viewport only screen and (min-width: 75em); / 1200px
*/
@media only screen and (min-width: 768px) {
  .SideNav-wrapper {
    display: flex;
    margin-left: 1pc;
    margin-top: 6px;
    padding-right: 6px;
    flex: none;
  }

  .SideNav-hideOnMobile {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1200px) {
}
