.ResortInfoCard {
  flex: 1;
  border: 1px solid #EDEDED;
}

.ResortInfoHeader-header {
  margin: 5px;
  min-height: 120px;
}

.ResortInfoHeader-branding {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.ResortInfoHeader-header-title {
  font-size: 30px;
  font-weight: 500;
  padding: 0;
}

.ResortInfoHeader-header-subtitle {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.ResortInfoHeader-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.ResortInfoHeader-status {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.ResortInfoHeader-status h3  {
  font-size: 24px;
  font-weight: 300;
}

.ResortInfoHeader-logo {
  margin: 0.5pc;
}

.ResortInfoHeader-logo img {
  width: 64px;
}
.ResortInfoBody-container {
  margin: 0;
}


/*
@custom-media --sm-viewport only screen and (min-width: 48em); // 768px
@custom-media --md-viewport only screen and (min-width: 64em); // 1024px
@custom-media --lg-viewport only screen and (min-width: 75em); / 1200px
*/
@media only screen and (min-width: 576px) {


}

@media only screen and (min-width: 1200px) {

  .ResortInfoBody-container {
    margin: 20px;
  }

  .ResortInfoHeader-header {
    background-color: #FAFAFA;
  }

  .ResortInfoHeader-header-title {
    font-size: 36px;
  }

  .ResortInfoHeader-header-subtitle {
    font-size: 24px;
  }

  .ResortInfoHeader-extras {
    float: right;
  }

  .ResortInfoHeader-condition {
    min-height: 60px; /* header height / 2 */
  }

  .ResortInfoHeader-status {
    min-height: 60px; /* header height / 2 */
  }

  .ResortInfoHeader-logo {
    margin: 1pc;
  }
}
