.Main-wrapper {
  display: none;
}

/*
@custom-media --sm-viewport only screen and (min-width: 48em); // 768px
@custom-media --md-viewport only screen and (min-width: 64em); // 1024px
@custom-media --lg-viewport only screen and (min-width: 75em); / 1200px
*/
@media only screen and (min-width: 768px) {
  .Main-wrapper {
    display: flex;
    flex: 1;
    align-self: stretch;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 6px;
    margin-top: 6px;
  }
}

@media only screen and (min-width: 1200px) {
  .Main-wrapper {
  }
}
