.Main-wrapper {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
}

.Main-hideOnMobile {
  display: none;
}

/*
@custom-media --sm-viewport only screen and (min-width: 48em); // 768px
@custom-media --md-viewport only screen and (min-width: 64em); // 1024px
@custom-media --lg-viewport only screen and (min-width: 75em); / 1200px
*/
@media only screen and (min-width: 768px) {
  .Main-wrapper {
    margin-left: 6px;
    padding-top: 6px;
  }
}

@media only screen and (min-width: 1200px) {
  .Main-wrapper {
  }
}
