.FourOhFour {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  border: 1px solid #EDEDED;
  margin-bottom: 0;
  margin-right: 0;

  padding-top: 2pc;
  padding-bottom: 2pc;

  background-image:
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #f8f8f8), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #f8f8f8), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #f8f8f8)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #f8f8f8));
  background-size:100px 100px;
  background-position:0 0, 50px 0, 50px -50px, 0 50px;
}
.FourOhFour-imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FourOhFour-img {
  max-width: 90%;
  max-height: 50vh;
}

.FourOhFour-text {
  font-size: 24px;
  font-weight: 300;
  margin-top: 1pc;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .FourOhFour {
    padding-top: 0;
    padding-bottom: 0;
  }
  .FourOhFour-text {
    font-size: 36px;
  }
}
