/* override react-progress-button styles */
.pb-container {
  display: inline-block;
  text-align: center;

  height: 50px;
  width: 120px;
  font-size: 16px;
  color: #9b9b9b;
  background-color: #FFFFFF;
  margin-left: 0.5pc;
  flex-shrink: 0;
  transition: width 0.3s;
}
.pb-container.loading {
  width: 60px;
}

.pb-container .pb-button {
  background: transparent;
  border: 1px solid #DF5B91;
  border-radius: 0px;
  color: currentColor;
  cursor: pointer;
  padding: 0.7em 1em;
  text-decoration: none;
  text-align: center;
  height: 50px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;
}
.pb-container.loading .pb-button {
  border-radius: 25px;
}
.pb-container .pb-button span {
  display: inherit;
  transition: opacity 0.3s 0.1s;
  font-size: 24px;
  font-weight: 400;
  color: #DF5B91;
}
.pb-container .pb-button svg {
  height: 50px;
  width: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.pb-container .pb-button svg path {
  opacity: 0;
  fill: none;
}
.pb-container .pb-button svg.pb-progress-circle {
  animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);
}
.pb-container .pb-button svg.pb-progress-circle path {
  stroke: currentColor;
  stroke-width: 2;
}
.pb-container .pb-button svg.pb-checkmark path,
.pb-container .pb-button svg.pb-cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 2;
}
.pb-container.disabled .pb-button {
  cursor: not-allowed;
}
.pb-container.loading .pb-button {
  width: 50px;
  border-width: 2px;
  border-color: #DF5B91;
  cursor: wait;
  background-color: transparent;
  padding: 0;
}
.pb-container.loading .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.loading .pb-button .pb-progress-circle > path {
  transition: opacity 0.15s 0.3s;
  opacity: 1;
}
.pb-container.success .pb-button {
  border-color: #A0D468;
  background-color: #A0D468;
}
.pb-container.success .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.success .pb-button .pb-checkmark > path {
  opacity: 1;
}
.pb-container.error .pb-button {
  border-color: #ED5565;
  background-color: #ED5565;
}
.pb-container.error .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.error .pb-button .pb-cross > path {
  opacity: 1;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}

.EmailSignup-wrapper {
  border: 1px solid #ededed;
  margin: 6px;
}

.EmailSignupTitle-container {
  flex: 1;
  padding-right: 0.5pc;
  padding-left: 0.5pc;
}

.EmailSignupTitle-img {
  display: flex;
  justify-content: center;
}

.EmailSignupTitle-img img {
  height: 6pc;
  margin-bottom: 0.5pc;
  margin-top: 0.5pc;
  margin-right: 1pc;
  margin-left: 1pc;
}

.EmailSignupTitle-content {
  height: 100%;
  padding-top: 0.5pc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EmailSignupTitle-content > div {
  text-align: center;
}

/* ---- */

.EmailSignupForm-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5pc;
  padding-top: 1pc;
  padding-bottom: 1pc;
}

.EmailSignupForm-input {
  height: 40px;
  min-width: 0;
  flex: 1;
  font-size: 16px;
  text-align: center;
  color: #4A4A4A;
  border: 1px solid #9B9B9B;
}

::-webkit-input-placeholder {
  color: #9B9B9B;
}

/*.EmailSignupForm-submit {
  height: 40px;
  width: 120px;
  font-size: 16px;
  border: 1px solid #DF5B91;
  color: #DF5B91;
  background-color: #FFFFFF;
  margin-left: 0.5pc;
  flex-shrink: 0;
}*/

.EmailSignupForm-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 40px;
  height: 40px;
  border: 1px solid #9B9B9B;
  background-color: #FFFFFF;
  margin-left: 0.5pc;
  flex-shrink: 0;
}

/*
@custom-media --sm-viewport only screen and (min-width: 576px);
@custom-media --md-viewport only screen and (min-width: 768px);
@custom-media --lg-viewport only screen and (min-width: 992px);
*/
@media only screen and (min-width: 768px) {
  .EmailSignupTitle-content > div {
    text-align: left;
  }

  .EmailSignup-wrapper {
    margin-bottom: 0;
    border-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {

  .EmailSignupForm-input {
    /*flex: none;
    width: 18pc;*/
    height: 50px;
    font-size: 24px;
  }

  /*.EmailSignupForm-submit {
    height: 50px;
    font-size: 24px;
  }*/

  .EmailSignupForm-cross {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  .EmailSignupTitle-container {
    padding-right: 1pc;
    padding-left: 1pc;
  }

  .EmailSignupForm-container {
    padding: 1pc;
  }

}
