.Footer-wrapper {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  min-height: 60px;
  flex-direction: row;
  border-top: 1px solid;
  border-color: #EDEDED;
  margin-top: 5px;
}

.Footer-text-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 4pc; /* compensate for logo width+margin */
}

.Footer-text {
  color: #9B9B9B;
  font-size: 14px;
  text-align: center;
}

.Footer-logo {
  align-self: center;
  margin-right: 1pc;
  margin-left: 1pc;
}
