
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

figure {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: #4A4A4A;
}

a, span, p {
  text-decoration: none;
  color: #4A4A4A;
}

.Index-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Index-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/*
@custom-media --sm-viewport only screen and (min-width: 48em); // 768px
@custom-media --md-viewport only screen and (min-width: 64em); // 1024px
@custom-media --lg-viewport only screen and (min-width: 75em); / 1200px
*/
@media only screen and (min-width: 768px) {
  .Index-wrapper {
  }

  .Index-content {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  .Index-wrapper {
  }

  .Index-content {
  }
}
