
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

figure {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.Index-fixedWrapper {
}

.Index-wrapper {

}

.Index-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
@custom-media --sm-viewport only screen and (min-width: 48em); // 768px
@custom-media --md-viewport only screen and (min-width: 64em); // 1024px
@custom-media --lg-viewport only screen and (min-width: 75em); / 1200px
*/
@media only screen and (min-width: 768px) {
  .Index-fixedWrapper {
    display: fixed;
    height: calc(100vh);
  }
  .Index-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .Index-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;
  }
}

@media only screen and (min-width: 1200px) {
  .Index-fixedWrapper {
    display: fixed;
  }

  .Index-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .Index-content {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}
