.WeatherBanner-wrapper {
  background-color: #1ed2ff;
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  /*margin-bottom: 0.5pc;*/
}
.WeatherBanner-text {
  color: #ffffff;
  font-weight: 400;
  margin-left: 8px;
}

@media only screen and (min-width: 768px) {
  .WeatherBanner-wrapper {
    /*margin-bottom: 0;*/
  }
}

@media only screen and (min-width: 1200px) {

}
